# Go binaries
central/central
agents/nocguardian-agent
*.exe

# Environment files
.env
central/.env
agents/.env

# Node.js
node_modules/
ui/node_modules/
dist/
ui/dist/

# SQL Dumps
*.sql
*.csv

# OS files
.DS_Store
Thumbs.db

# Temp/Backups
*.bak.*
*.bak
alert_key
hostname
linux_hosts.txt
agents/deploy/windows-msi/*.wixobj
agents/deploy/windows-msi/*.wixpdb
agents/deploy/windows-msi/*.msi
