# Go binaries
central/central
agent/nocguardian-agent
*.exe

# Environment files
.env
central/.env
agent/.env
agents/.env

# Node.js
node_modules/
UI/node_modules/
dist/
UI/dist/

# SQL Dumps
*.sql
*.csv

# OS files
.DS_Store
Thumbs.db

# Temp/Backups
*.bak.*
*.bak
alert_key
hostname
linux_hosts.txt
